* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
  padding: 3rem;
}

.title h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #121826;
  margin: 1rem;
}

.title p {
  font-size: 1rem;
  line-height: 1.5;
  color: #4d5562;
  text-align: center;
}

table {
  margin: 3rem auto;
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1rem 0 1rem 0;
  overflow: hidden;
  width: 90%;

}

tbody tr:first-child td:first-child {
  border-top-left-radius: 1rem;
}
tbody tr:nth-last-child(2) td:first-child {
  border-bottom-left-radius: 1rem;
}
th {
  color: #263fa9;
  padding: 20px 2vw 40px 2vw;
}
td {
  padding: 2vw;
  border-bottom: 1px solid #4d556233;
  text-align: center;
  font-weight: 400;
}

.price {
  font-size: 4rem;
  color: #121826;
  font-weight: bold;
  margin: 1rem auto;
}

.per {
  color: #4d5562;
  font-weight: normal;
}
.head {
  font-weight: bold;
  font-size: 1rem;
  text-align: start;
  color: #121826;
  background-color: #f8fafc;
}
.three {
  background-color: #121826;
  color: #ffffff;
}
.divide {
  border: none; 
  height:0.5px;
  background-color: #E5E7EB; 
 
}
thead .three {
  border-radius: 1rem 1rem 0 0;
}
.start .three {
  border-radius: 0 0 1rem 1rem;
  background-color: #7c4f1e;
}
.three .price {
  color: #ffffff;
}
.three .per {
  color: #ffffff;
}
.popular {
  background-color: #263fa9;
  border-radius: 1rem;
  padding: 0 0.2rem;
  width: 50%;
  margin: auto;
}
.start td {
  color: #263fa9;
  font-weight: bold;
  font-size: 1rem;
}
.start img {
  margin: -0.4rem 0;
}
.start svg {
  margin: -0.4rem 0;
}
.start svg path {
  fill: #ffffff;
}
.start .three a {
  color: #ffffff;
}

.start td a {
  text-decoration: none;
}
.start td a:hover {
  cursor: pointer;
}

table tbody tr:last-child td {
  border-bottom: none;
}